/* Write your CSS here */
.main {
  background-color: #161625;
  background-size: cover;
  padding-top: 20px;
  padding-left: 100px;
  font-family: roboto;
}
.logo {
  width: 50px;
  height: 50px;
}
.logo-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.head {
  color: #2cc6c6;
  margin-left: 10px;
}
.main-head {
  color: #cbd5e1;
}
.failed-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.failed-img {
  height: 500px;
  width: 300px;
}
.failed-head {
  color: #ffffff;
  font-family: 'Bree Serif';
}
.result-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
